web/WEB-INF/wsdl/localhost_8080/Assignment/TextbookSOAP.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.wsd.uts/" xmlns:ns1="http://www.uts.edu.au/31284/wsd-diary" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.wsd.uts/">

<xs:import namespace="http://www.uts.edu.au/31284/wsd-diary" schemaLocation="http://localhost:8080/Assignment/TextbookSOAP?xsd=1"/>

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="bookApp" type="tns:bookApplication"/>

<xs:element name="fetchTextbook" type="tns:fetchTextbook"/>

<xs:element name="fetchTextbookResponse" type="tns:fetchTextbookResponse"/>

<xs:element name="fetchTextbooks" type="tns:fetchTextbooks"/>

<xs:element name="fetchTextbooksResponse" type="tns:fetchTextbooksResponse"/>

<xs:element name="getBookApp" type="tns:getBookApp"/>

<xs:element name="getBookAppResponse" type="tns:getBookAppResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="textbooks" type="tns:textbooks"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchTextbooks">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="fetchTextbooksResponse">
<xs:sequence>
<xs:element name="return" type="tns:textbooksLists" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="textbooksLists">
<xs:sequence>
<xs:element name="Textbooks" type="tns:textbooks" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="textbooks">
<xs:sequence>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="author" type="xs:string" minOccurs="0"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="number" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchTextbook">
<xs:sequence>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchTextbookResponse">
<xs:sequence>
<xs:element name="return" type="tns:textbooks" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookApp">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBookAppResponse">
<xs:sequence>
<xs:element name="return" type="tns:bookApplication" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookApplication">
<xs:sequence>
<xs:element name="filePath" type="xs:string" minOccurs="0"/>
<xs:element name="textbooksLists" type="tns:textbooksLists" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>